<!-- lista_usuarios.html -->
{% extends 'layout.html' %}

{% block content %}

{% load static %}

<style>
    /* Estilo para las imágenes de los usuarios */
    .user-image {
        width: 100px; /* Establecer un ancho fijo para todas las imágenes */
        height: 100px; /* Establecer una altura fija para todas las imágenes */
        object-fit: cover; /* Para asegurar que las imágenes se ajusten correctamente */
    }
</style>

<div class="container">
    <h1 class="mt-5">Lista de Usuarios</h1>
    <ul class="list-group mt-3">
        {% for usuario in usuarios %}
        <li class="list-group-item">
            <div class="row align-items-center">
                <div class="col-md-3">
                    <!-- Utilizando las clases de Bootstrap y la clase personalizada para el estilo de las imágenes -->
                    <img src="{{ usuario.image.url }}" alt="{{ usuario.nombre }} Imagen" class="img-thumbnail user-image">
                </div>
                <div class="col-md-9">
                    <h2>{{ usuario.nombre }}</h2>
                    <p><strong>Email:</strong> {{ usuario.email }}</p>
                    <p><strong>Teléfono:</strong> {{ usuario.telefono }}</p>
                </div>
            </div>
        </li>
        {% empty %}
        <li class="list-group-item">No hay usuarios disponibles.</li>
        {% endfor %}
    </ul>
</div>

{% endblock %}
    